{{#if options.submit_local}}
<form name="webform" class="form form-horizontal" method="POST" action="/submit" submit>
{{else}}
<form name="webform" class="form form-horizontal">
{{/if}}
	<input type="hidden" name="formId" value="{{form.id}}" />
	<input type="hidden" name="workspaceId" value="{{form.workspaceId}}" />
	<input type="hidden" name="validate" value="true" />
	<input type="hidden" name="isComplete" value="true" />
	<input type="hidden" name="notify" value="true" />
	{{#fields}}
	<div class="control-group {{class}}" validate="field{{id}}">
	{{#unless is_control}}
		{{#if is-heading}}
		<div class="display">
			<h3 style="{{getStyles ../../../form.settings.style.heading}}">{{label}}</h3>
		</div>
		{{/if}}
		{{#if is-spacer}}
		<hr />
		{{/if}}
		{{#if is-page-break}}
		<p></p>
		{{/if}}
		{{#if is-hidden-field}}
		<input type="hidden" id="field{{id}}" name="{{name}}" value="" ng-model="field{{id}}" />
		{{/if}}
		{{#if is-text}}
		<div class="display" style="{{getStyles ../../../form.settings.style.font}}">
			{{label}}
		</div>
		{{/if}}
	{{/unless}}
	{{#if is_control}}
		{{#unless is-calculated-field}}
		<label for="field{{id}}" class="form-label" style="{{getStyles ../../../form.settings.style.font}}">{{label}}</label>
		{{/unless}}
		<div class="controls">
			{{#if is-text-input}}
			<input type="text" id="field{{id}}" name="field{{id}}" class="{{inputClass}}" placeholder="{{placeholder}}" ng-model="record.field{{id}}" {{required}} {{{validators}}}/>
			{{/if}}
			{{#if is-text-area}}
			<textarea id="field{{id}}" name="field{{id}}" class="{{inputClass}}" rows="{{rows}}" cols="{{cols}}" placeholder="{{placeholder}}" ng-model="record.field{{id}}" {{required}} {{{validators}}}></textarea>
			{{/if}}
			{{#if is-dropdown}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}" size="{{size}}" {{multiple}} {{required}}>
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-checkbox}}
			{{#choices}}
			<label class="checkbox-label"><input type="checkbox" id="field{{../id}}_{{@index}}" name="field{{../id}}_{{@index}}" ng-model="record.field{{../id}}_{{@index}}" /> {{label}}</label>
			{{/choices}}
			{{/if}}
			{{#if is-radio}}
			{{#choices}}
			<label class="checkbox-label"><input type="radio" id="field{{../id}}" name="field{{../id}}" value="{{value}}" ng-model="record.field{{../id}}" /> {{label}}</label>
			{{/choices}}
			{{/if}}
			{{#if is-file-upload}}
			<input type="file" id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}" />
			{{/if}}
			{{#if is-date-picker}}
			<input type="text" id="field{{id}}" name="field{{id}}" class="input-small" placeholder="{{placeholder}}" ng-model="record.field{{id}}" datepicker {{required}} {{{validators}}} />
			{{/if}}
			{{#if is-state-select}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}" {{required}}>
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}" {{#if selected}}selected="selected"{{/if}}>{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-country-select}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}" {{required}}>
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-year}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}" {{required}}>
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-calculated-field}}
			{{/if}}
			{{#if is_required}}
			<span class="help-inline required">required</span>
			{{/if}}
			{{#if description}}
			<div class="help-block">{{description}}</div>
			{{/if}}
			<div class="help-block" ng-show="webform.field{{id}}.$error.req" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.requiredFieldError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.alpha" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidAlphaError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.alpha-numeric" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidAlphaNumError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.currency" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidCurrencyDollarError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.date" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidDateError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.date-us" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidDateError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.email" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidEmailError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.number" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidNumberError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.password" style="{{getStyles ../../form.settings.style.error}}"></div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.url" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidURLError}}</div>
			<div class="help-block" ng-show="webform.field{{id}}.$error.zipcode" style="{{getStyles ../../form.settings.style.error}}">{{../../form.settings.terminology.invalidPostalError}}</div>
		</div>
	{{/if}}
	</div>
	{{/fields}}

	{{#if options.show_actions}}
	<div class="form-actions">
		<input type="submit" class="btn" value="Save" ng-click="submit()" />
	</div>
	{{/if}}
</form>