{{#if options.show_title}}
<h1>{{form.name}}</h1>

{{/if}}
{{#if options.submit_local}}
<form name="webform" class="form form-horizontal" method="POST" action="/submit" submit>
{{else}}
<form name="webform" class="form form-horizontal">
{{/if}}
	<input type="hidden" name="formId" value="{{form.id}}" />
	<input type="hidden" name="workspaceId" value="{{form.workspaceId}}" />
	{{#fields}}
	{{#unless is_control}}
	<div>
		{{#if is-heading}}
		<div class="controls">
			<h3>{{label}}</h3>
		</div>
		{{/if}}
		{{#if is-spacer}}
		<hr />
		{{/if}}
		{{#if is-page-break}}
		<p></p>
		{{/if}}
		{{#if is-hidden-field}}
		<input type="hidden" id="field{{id}}" name="{{name}}" value="" ng-model="field{{id}}" />
		{{/if}}
		{{#if is-html}}
		{{value}}
		{{/if}}
	</div>
	{{/unless}}
	{{#if is_control}}
	<div class="control-group" >
		<label for="field{{id}}" class="form-label">{{label}}</label>
		<div class="controls">
			{{#if is-text}}
			<span>{{description}}</span>
			{{/if}}
			{{#if is-text-input}}
			<input type="text" id="field{{id}}" name="field{{id}}" class="{{class}}" placeholder="{{placeholder}}" ng-model="record.field{{id}}" {{required}} />
			{{/if}}
			{{#if is-text-area}}
			<textarea id="field{{id}}" name="field{{id}}" class="{{class}}" rows="{{rows}}" cols="{{cols}}" placeholder="{{placeholder}}" ng-model="record.field{{id}}"></textarea>
			{{/if}}
			{{#if is-dropdown}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}">
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-checkbox}}
			{{#choices}}
			<label class="checkbox-label"><input type="checkbox" id="field{{../id}}_{{@index}}" name="field{{../id}}_{{@index}}" ng-model="record.field{{../id}}_{{@index}}" /> {{label}}</label>
			{{/choices}}
			{{/if}}
			{{#if is-radio}}
			{{#choices}}
			<label class="checkbox-label"><input type="radio" id="field{{../id}}" name="field{{../id}}" value="{{value}}" ng-model="record.field{{../id}}" /> {{label}}</label>
			{{/choices}}
			{{/if}}
			{{#if is-file-upload}}
			<input type="file" id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}" />
			{{/if}}
			{{#if is-date-picker}}
			<input type="text" id="field{{id}}" name="field{{id}}" class="input-small" placeholder="{{placeholder}}" ng-model="record.field{{id}}" datepicker />
			{{/if}}
			{{#if is-state-select}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}">
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-country-select}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}">
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-year}}
			<select id="field{{id}}" name="field{{id}}" ng-model="record.field{{id}}">
				<option value=""></option>
				{{#choices}}
				<option value="{{value}}">{{label}}</option>
				{{/choices}}
			</select>
			{{/if}}
			{{#if is-calculated-field}}
			{{/if}}
			{{#if is_required}}
			<span class="help-inline required">required</span>
			{{/if}}
		</div>
	</div>
	{{/if}}
	{{/fields}}

	{{#if options.show_actions}}
	<div class="form-actions">
		<input type="submit" class="btn" value="Save" ng-click="submit()" />
	</div>
	{{/if}}
</form>